{% assign date_format = site.date_format | default: "%B %-d, %Y" %}

{% if page.cover-img %}
  <div id="header-big-imgs" data-num-img={% if page.cover-img.first %}{{ page.cover-img.size }}{% else %}1{% endif %}
    {% for bigimg in page.cover-img %}
    {% assign imgnum = forloop.index %}
    {% for imginfo in bigimg %}
    {% if imginfo[0] %}
      data-img-src-{{ imgnum }}="{{ imginfo[0] | absolute_url }}"
      data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
    {% else %}
      data-img-src-{{ imgnum }}="{{ imginfo | absolute_url }}"
    {% endif %}
    {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.cover-img %}has-img{% endif %}">
<div class="intro-header {% if page.cover-img %} big-img {% endif %}"
  style="margin-top: 10em;"
>
  {% if page.cover-img or page.title %}
  <div class="container-md">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1"
        style="min-width: 100%; margin: auto"
      >
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title | strip_html }}{% else %}<br/>{% endif %}</h1>
          {% if page.subtitle %}
            {% if include.type == "page" %}
              <hr class="small">
              <span class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</span>
            {% else %}
              <h2 class="{{ include.type }}-subheading">{{ page.subtitle | strip_html }}</h2>
            {% endif %}
          {% endif %}
          <!-- Display button only in "Accueil" page -->
          {% if page.title == "Découvrez Training APA" %}
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 10%;
              "  
            >
              <div
                style="
                  border: 2px solid #fff;
                  border-radius: 0.5em;
                  width: 15em;
                "
              >
                <a
                  class="nav-link"
                  style="
                  color: #fff !important;
                  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
                  sans-serif;
                  text-transform: uppercase;
                  font-size: 0.8125rem;
                  letter-spacing: 0.0625rem;
                  font-weight: 800;
                  "
                  href="https://deneo.app/account"
                  target="_blank"
                >
                  Je me connecte
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if page.cover-img %}<span class='img-desc'></span>{% endif %}
</div>

{% if page.header-extra %}
  {% for file in page.header-extra %}
    {% include {{ file }} %}
  {% endfor %}
{% endif %}

</header>
