<script>
  // Open the modal
  function openModal(divId) {
    document.getElementById("myModal").style.display = "block";
    document.getElementById("modalText").innerText = divId;
  }

  // Close the modal when clicking outside of it
  window.onclick = function (event) {
    if (event.target == document.getElementById("myModal")) {
      document.getElementById("myModal").style.display = "none";
    }
  };
</script>
<div>
  <!-- TABLE -->
  <table class="planning-table">
    <tr>
      <th></th>
      <th>Lundi</th>
      <th>Mardi</th>
      <th>Mercredi</th>
      <th>Jeudi</th>
      <th>Vendredi</th>
    </tr>
    <tr>
      <td>8h-9h</td>
      <td>
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA du Dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>16h30-17h30</td>
      <td>
        <div onclick="openModal('APA Cognitif')" style="background-color: red">
          APA
          <br />
          <u>Cognitif</u>
        </div>
      </td>
      <td></td>
      <td>
        <div
          onclick="openModal('APA en fauteuil')"
          style="background-color: #fa01ac"
        >
          APA en
          <br />
          fauteuil
        </div>
      </td>
      <td>
        <div onclick="openModal('APA Cognitif')" style="background-color: red">
          APA
          <br />
          <u>Cognitif</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>17h45-18h45</td>
      <td>
        <div
          onclick="openModal('Multi-activités')"
          style="background-color: seagreen"
        >
          Multi-activités
        </div>
      </td>
      <td></td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Renforcement musculaire')"
          style="background-color: coral"
        >
          Renforcement<br />musculaire
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Pilates')"
          style="background-color: #ff9103"
        >
          APA
          <br />
          Pilates
        </div>
      </td>
    </tr>
    <tr>
      <td>19h-20h</td>
      <td>
        <div
          onclick="openModal('APA Du dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
      <td></td>
      <td>
        <div
          onclick="openModal('APA Du dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Multi-activités')"
          style="background-color: seagreen"
        >
          Multi-activités
        </div>
      </td>
    </tr>
  </table>
  <!-- MODAL -->
  <!-- TODO: display content needed for specific session (INLCUDE)-->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <!-- HEADER -->
      <h2 id="modalText"></h2>
      <!-- CONTENT -->
      <div class="modal-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, voluptate, quia quod quos voluptas
          exercitationem quas voluptatibus quidem doloribus. Quisquam
          voluptatum, quibusdam, voluptate, quia quod quos voluptas
          exercitationem quas voluptatibus quidem doloribus.
        </p>
        <!-- IMAGE AT BOTTOM OF MODAL -->
        <img src="../assets/img/bandeau_site.png" style="width: 60%" />
      </div>
    </div>
  </div>
</div>
