<script>
  // Open the modal
  function openModal(divId) {
    document.getElementById("myModal").style.display = "block";
    document.getElementById("modalText").innerText = divId;
    fillModalContent(divId);
  }

  // Close the modal when clicking outside of it
  window.onclick = function (event) {
    if (event.target == document.getElementById("myModal")) {
      document.getElementById("myModal").style.display = "none";
    }
  };

  // Fill modal content with relevant data based on the session clicked
  function fillModalContent(divId) {
    switch (divId) {
      case "Salle de sport":
        document.getElementById(
          "modalDescription"
        ).innerText = `Accompagnement de 3 à 6 mois pour les personnes qui souhaitent commencer la salle de sport mais ne savent pas comment s'y prendre${(
          <br />
        )}.Programme personnalisé et adapté sur devis`;
        document.getElementById(
          "modalTarifs"
        ).innerText = `Bilan et premier entretien gratuit${(<br />)}
        Séance : 35 à 55 euros/séance${(<br />)}
        Programme personnalisé : 110 à 300 euros (3 à 6 mois).`;
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "APA Perte de poids":
        document.getElementById("modalDescription").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.";
        document.getElementById("modalTarifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "APA du Dos":
        document.getElementById("modalDescription").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.";
        document.getElementById("modalTarifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "APA Cognitif":
        document.getElementById("modalDescription").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.";
        document.getElementById("modalTarifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "APA en fauteuil":
        document.getElementById("modalDescription").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.";
        document.getElementById("modalTarifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "Multi-activités":
        document.getElementById("modalDescription").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.";
        document.getElementById("modalTarifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "Renforcement musculaire":
        document.getElementById("modalDescription").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.";
        document.getElementById("modalTarifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "APA Pilates":
        document.getElementById("modalDescription").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.";
        document.getElementById("modalTarifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      default:
        break;
    }
  }
</script>
<div>
  <!-- TABLE -->
  <table class="planning-table">
    <tr>
      <th style="width: 110px !important"></th>
      <th>Lundi</th>
      <th>Mardi</th>
      <th>Mercredi</th>
      <th>Jeudi</th>
      <th>Vendredi</th>
    </tr>
    <tr>
      <td>8h-9h</td>
      <td>
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA du Dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>16h30-17h30</td>
      <td>
        <div onclick="openModal('APA Cognitif')" style="background-color: red">
          APA
          <br />
          <u>Cognitif</u>
        </div>
      </td>
      <td></td>
      <td>
        <div
          onclick="openModal('APA en fauteuil')"
          style="background-color: #fa01ac"
        >
          APA en
          <br />
          fauteuil
        </div>
      </td>
      <td>
        <div onclick="openModal('APA Cognitif')" style="background-color: red">
          APA
          <br />
          <u>Cognitif</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>17h45-18h45</td>
      <td>
        <div
          onclick="openModal('Multi-activités')"
          style="background-color: seagreen"
        >
          Multi-activités
        </div>
      </td>
      <td></td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Renforcement musculaire')"
          style="background-color: coral"
        >
          Renforcement<br />musculaire
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Pilates')"
          style="background-color: #ff9103"
        >
          APA
          <br />
          Pilates
        </div>
      </td>
    </tr>
    <tr>
      <td>19h-20h</td>
      <td>
        <div
          onclick="openModal('APA Du dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
      <td></td>
      <td>
        <div
          onclick="openModal('APA Du dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Multi-activités')"
          style="background-color: seagreen"
        >
          Multi-activités
        </div>
      </td>
    </tr>
  </table>
  <!-- MODAL -->
  <!-- TODO: display content needed for specific session (INLCUDE)-->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <!-- HEADER -->
      <h2 id="modalText"></h2>
      <!-- CONTENT -->
      <div class="modal-body">
        <!-- NEW 2-COLUMN LAYOUT -->
        <div style="display: flex; justify-content: space-evenly">
          <!-- LEFT COLUMN -->
          <div>
            <h3>Description</h3>
            <p id="modalDescription" class="modal-description">Some text...</p>
            <button class="modal-register-button">
              <a href="https://www.google.com" style="color: white"
                >Inscription</a
              >
            </button>
          </div>
          <!-- RIGHT COLUMN -->
          <div>
            <h3>Tarifs</h3>
            <p id="modalTarifs" class="modal-tarifs">Some text...</p>
            <h3>Objectifs</h3>
            <p id="modalObjectifs">Some text...</p>
          </div>
        </div>
      </div>
      <!-- IMAGE AT BOTTOM OF MODAL -->
      <div style="text-align: center">
        <img src="../assets/img/bandeau_site.png" style="width: 40%" />
      </div>
    </div>
  </div>
</div>
