<script>
  // Open the modal
  function openModal(divId) {
    document.getElementById("myModal").style.display = "block";
    document.getElementById("modalText").innerText = divId;
    fillModalContent(divId);
  }

  // Close the modal when clicking outside of it
  window.onclick = function (event) {
    if (event.target == document.getElementById("myModal")) {
      document.getElementById("myModal").style.display = "none";
    }
  };

  // Fill modal content with relevant data based on the session clicked
  function fillModalContent(divId) {
    switch (divId) {
      case "Salle de sport":
        document.getElementById("modalDescription").innerText =
          "Accompagnement de 3 à 6 mois pour les personnes qui souhaitent commencer la salle de sport mais ne savent pas comment s'y prendre.\nProgramme personnalisé et adapté sur devis";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 35 à 55 euros/séance.\n\nProgramme personnalisé : 110 à 300 euros (3 à 6 mois).";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "APA Perte de poids":
        document.getElementById("modalDescription").innerText =
          "Groupe ouvert, séance adaptée avec comme objectif premier la perte de poids.\n\nActivités possibles (renforcement musculaire global, cardio-training...).\n\nActivités optimisées et adaptées à la perte de poids.";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 12 euros/séance.\n\nAbonnement mensuel engagement 3 mois : 39 euros.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "APA du Dos":
        document.getElementById("modalDescription").innerText =
          "Groupe ouvert, séance adaptée pour des personnes ayant des douleurs au dos.";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 12 euros/séance.\n\nAbonnement mensuel engagement 3 mois : 39 euros.";
        document.getElementById("modalObjectifs").innerText =
          "Renforcement du dos, activités adaptées aux douleurs dorsales, diminuer les douleurs.";
        break;

      case "APA Cognitif":
        document.getElementById("modalDescription").innerText =
          "Séance individuelle ou en binôme réservée aux patients avec une affection neurologique.\n\nAffection neuromusculaire, AVC, sclérose en plaques et d'autres.\n\n(Participation de l'aidant possible).";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 12 euros/séance.\n\nAbonnement mensuel engagement 3 mois : 39 euros.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "APA en fauteuil":
        document.getElementById("modalDescription").innerText =
          "Séances en groupe de 4 personnes.\nRenforcement musculaire en fauteuil, perte de poids, multi-activités adaptées... ";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 12 euros/séance.\n\nAbonnement mensuel engagement 3 mois : 39 euros.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "Multi-activités":
        document.getElementById("modalDescription").innerText =
          "Groupe ouvert, séance variée et ludique d'activité physique adaptée, cycle d'activités variables.";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 12 euros/séance.\n\nAbonnement mensuel engagement 3 mois : 39 euros.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "Renforcement musculaire":
        document.getElementById("modalDescription").innerText =
          "Groupe ouvert, séance adaptée et personnalisée avec comme objectif premier un renforcement musculaire.\nActivités possibles (renforcement musculaire global, membres inférieurs, supérieurs...).";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 12 euros/séance.\n\nAbonnement mensuel engagement 3 mois : 39 euros.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "APA Pilates":
        document.getElementById("modalDescription").innerText =
          "Groupe ouvert, séance de pilates adaptée.";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 12 euros/séance.\n\nAbonnement mensuel engagement 3 mois : 39 euros.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      case "Reprise de la course":
        document.getElementById("modalDescription").innerText =
          "Groupe ouvert, séance individuelle adaptée et suivi personnalisé de 3 mois de reprises de la course.\nPour les personnes qui souhaitent reprendre la course après un grand temps d'arrêt.";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 35 euros/séance.\n\nProgramme personnalisé, renforcement à la maison en extérieur, les prérequis de la course à pieds : 110 à 300 euros.";
        document.getElementById("modalObjectifs").innerText =
          "Préparation physique et séances adaptées selon objectif, reprendre la course, apprentissage, renforcement musculaire spécifique à la course, prévention et préparation à la course à pied.";
        break;

      case "Marche nordique - débutant":
        document.getElementById("modalDescription").innerText =
          "Groupe ouvert, séance de marche nordique. Sortie en extérieur sur les rives de l'étang du ter et d'autres lieux proches de Lorient.\nAnnulation en cas d'intempérie, non facturée.\nGroupe ouvert à tous débutant en marche nordique.";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 5 euros/séance.";
        document.getElementById("modalObjectifs").innerText =
          "Apprentissage technique de la marche nordique.";
        break;

      case "Marche nordique":
        document.getElementById("modalDescription").innerText =
          "Groupe ouvert, séance de marche nordique. Sortie en extérieur sur les rives de l'étang du ter et d'autres lieux proches de Lorient.\nAnnulation en cas d'intempérie, non facturée.\nGroupe intermédiaire à confirmé en marche nordique.";
        document.getElementById("modalTarifs").innerText =
          "Bilan et premier entretien gratuit.\n\nSéance : 5 euros/séance.";
        document.getElementById("modalObjectifs").innerText =
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.";
        break;

      default:
        break;
    }
  }
</script>
<!-- TABLE FOR DESKTOP -->
<div class="planning-container">
  <table class="planning-desktop">
    <tr>
      <th></th>
      <th>Lundi</th>
      <th>Mardi</th>
      <th>Mercredi</th>
      <th>Jeudi</th>
      <th>Vendredi</th>
    </tr>
    <tr>
      <td>8h-9h</td>
      <td>
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA du Dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>16h30-17h30</td>
      <td>
        <div onclick="openModal('APA Cognitif')" style="background-color: red">
          APA
          <br />
          <u>Cognitif</u>
        </div>
      </td>
      <td></td>
      <td>
        <div
          onclick="openModal('APA en fauteuil')"
          style="background-color: #fa01ac"
        >
          APA en
          <br />
          fauteuil
        </div>
      </td>
      <td>
        <div onclick="openModal('APA Cognitif')" style="background-color: red">
          APA
          <br />
          <u>Cognitif</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>17h45-18h45</td>
      <td>
        <div
          onclick="openModal('Multi-activités')"
          style="background-color: seagreen"
        >
          Multi-activités
        </div>
      </td>
      <td></td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Renforcement musculaire')"
          style="background-color: coral"
        >
          Renforcement<br />musculaire
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Pilates')"
          style="background-color: #ff9103"
        >
          APA
          <br />
          Pilates
        </div>
      </td>
    </tr>
    <tr>
      <td>19h-20h</td>
      <td>
        <div
          onclick="openModal('APA Du dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
      <td></td>
      <td>
        <div
          onclick="openModal('APA Du dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
      <td>
        <div
          onclick="openModal('Multi-activités')"
          style="background-color: seagreen"
        >
          Multi-activités
        </div>
      </td>
    </tr>
  </table>
  <!-- TABLE FOR SATURDAY -->
  <table class="planning-saturday-desktop">
    <tr>
      <th></th>
      <th>Samedi</th>
    </tr>
    <tr>
      <td>9h-10h</td>
      <td style="border-top: 3px solid #4dbab4">
        <div
          onclick="openModal('Reprise de la course')"
          class="clickable"
          style="background-color: goldenrod"
        >
          Reprise de la course
        </div>
      </td>
    </tr>
    <tr>
      <td>10-11h</td>
      <td style="height: 130px">
        <div
          onclick="openModal('Marche nordique - débutant')"
          class="clickable"
          style="background-color: blue"
        >
          Marche nordique
        </div>
        <div class="info">
          <u>Débutant</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>11h-12h</td>
      <td style="height: 130px; border-bottom: 3px solid #4dbab4">
        <div
          onclick="openModal('Marche nordique')"
          class="clickable"
          style="background-color: grey; height: 50%"
        >
          Marche nordique
        </div>
        <div class="info">
          <u>Intermédiaire à confirmé</u>
        </div>
      </td>
    </tr>
  </table>
</div>
<!-- TABLE FOR MOBILE -->
<table class="planning-mobile">
  <tbody>
    <!-- LUNDI -->
    <tr>
      <td colspan="2"><h3>Lundi</h3></td>
    </tr>
    <tr>
      <td>8h-9h</td>
      <td
        style="border-top: 3px solid #4dbab4; border-bottom: 2px dashed #4dbab4"
      >
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
    </tr>
    <tr>
      <td>16h30-17h30</td>
      <td>
        <div onclick="openModal('APA Cognitif')" style="background-color: red">
          APA
          <br />
          <u>Cognitif </u>
        </div>
      </td>
    </tr>
    <tr>
      <td>17h45-18h45</td>
      <td>
        <div
          onclick="openModal('Multi-activités')"
          style="background-color: seagreen"
        >
          Multi-activités
        </div>
      </td>
    </tr>
    <tr>
      <td>19h-20h</td>
      <td>
        <div
          onclick="openModal('APA Du dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
    </tr>
    <!-- MARDI -->
    <tr>
      <td colspan="2"><h3>Mardi</h3></td>
    </tr>
    <tr>
      <td>8h-9h</td>
      <td
        style="border-top: 3px solid #4dbab4; border-bottom: 2px dashed #4dbab4"
      >
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
    </tr>
    <tr>
      <td>16h30-17h30</td>
      <td></td>
    </tr>
    <tr>
      <td>17h45-18h45</td>
      <td></td>
    </tr>
    <tr>
      <td>19h-20h</td>
      <td></td>
    </tr>
    <!-- MERCREDI -->
    <tr>
      <td colspan="2"><h3>Mercredi</h3></td>
    </tr>
    <tr>
      <td>8h-9h</td>
      <td
        style="border-top: 3px solid #4dbab4; border-bottom: 2px dashed #4dbab4"
      >
        <div
          onclick="openModal('Salle de sport')"
          style="background-color: #005f73"
        >
          Salle de sport
        </div>
      </td>
    </tr>
    <tr>
      <td>16h30-17h30</td>
      <td>
        <div
          onclick="openModal('APA en fauteuil')"
          style="background-color: #fa01ac"
        >
          APA en
          <br />
          fauteuil
        </div>
      </td>
    </tr>
    <tr>
      <td>17h45-18h45</td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>19h-20h</td>
      <td>
        <div
          onclick="openModal('APA Du dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
    </tr>
    <!-- JEUDI -->
    <tr>
      <td colspan="2"><h3>Jeudi</h3></td>
    </tr>
    <tr>
      <td>8h-9h</td>
      <td
        style="border-top: 3px solid #4dbab4; border-bottom: 2px dashed #4dbab4"
      >
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>16h30-17h30</td>
      <td>
        <div onclick="openModal('APA Cognitif')" style="background-color: red">
          APA
          <br />
          <u>Cognitif</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>17h45-18h45</td>
      <td>
        <div
          onclick="openModal('Renforcement musculaire')"
          style="background-color: coral"
        >
          Renforcement<br />musculaire
        </div>
      </td>
    </tr>
    <tr>
      <td>19h-20h</td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
    </tr>
    <!-- VENDREDI -->
    <tr>
      <td colspan="2"><h3>Vendredi</h3></td>
    </tr>
    <tr>
      <td>8h-9h</td>
      <td
        style="border-top: 3px solid #4dbab4; border-bottom: 2px dashed #4dbab4"
      >
        <div
          onclick="openModal('APA du Dos')"
          style="background-color: #7295ff"
        >
          APA
          <br />
          <u>Du dos</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>16h30-17h30</td>
      <td>
        <div
          onclick="openModal('APA Perte de poids')"
          style="background-color: #37b6ff"
        >
          APA
          <br />
          <u>Perte de poids</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>17h45-18h45</td>
      <td>
        <div
          onclick="openModal('APA Pilates')"
          style="background-color: #ff9103"
        >
          APA
          <br />
          Pilates
        </div>
      </td>
    </tr>
    <tr>
      <td>19h-20h</td>
      <td>
        <div
          onclick="openModal('Multi-activités')"
          style="background-color: seagreen"
        >
          Multi-activités
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- TABLE FOR SATURDAY -->
<table class="planning-saturday-mobile">
  <tbody>
    <tr>
      <td colspan="2"><h3>Samedi</h3></td>
    </tr>
    <tr>
      <td>9h-10h</td>
      <td style="border-top: 3px solid #4dbab4">
        <div
          onclick="openModal('Reprise de la course')"
          class="clickable"
          style="background-color: goldenrod"
        >
          Reprise de la course
        </div>
      </td>
    </tr>
    <tr>
      <td>10-11h</td>
      <td style="height: 130px">
        <div
          onclick="openModal('Marche nordique - débutant')"
          class="clickable"
          style="background-color: blue"
        >
          Marche nordique
        </div>
        <div class="info">
          <u>Débutant</u>
        </div>
      </td>
    </tr>
    <tr>
      <td>11h-12h</td>
      <td style="height: 130px">
        <div
          onclick="openModal('Marche nordique')"
          class="clickable"
          style="background-color: grey; height: 50%"
        >
          Marche nordique
        </div>
        <div class="info">
          <u>Intermédiaire à confirmé</u>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- MODAL -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <!-- HEADER -->
    <h2 id="modalText"></h2>
    <!-- CONTENT -->
    <div class="modal-body">
      <!-- NEW 2-COLUMN LAYOUT -->
      <div
        class="columns"
        style="display: flex; justify-content: space-between"
      >
        <!-- LEFT COLUMN -->
        <div class="column" style="flex: 2">
          <h3>Description</h3>
          <p id="modalDescription" class="modal-description">Some text...</p>
          <h3>Objectifs</h3>
          <p id="modalObjectifs" class="modal-description">Some text...</p>
        </div>
        <!-- RIGHT COLUMN -->
        <div class="column" style="flex: 1">
          <h3>Tarifs</h3>
          <p id="modalTarifs" class="modal-tarifs">Some text...</p>
          <div style="text-align: center">
            <button class="modal-register-button">
              <a href="https://www.google.com" style="color: white"
                >Inscription</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- IMAGE AT BOTTOM OF MODAL -->
    <div style="text-align: center">
      <img src="../assets/img/bandeau_site.png" class="modal-image" />
    </div>
  </div>
</div>
