<script>
  function displayData(id) {
    // Remove selected class from all buttons
    document.querySelectorAll(".program-button").forEach(function (button) {
      button.classList.remove("selected");
    });

    // Hide all data
    document.querySelectorAll(".data").forEach(function (data) {
      data.style.display = "none";
    });

    // Add selected class to clicked button and show corresponding data
    document.querySelector("#" + id).style.display = "block";
    document
      .querySelector("button[onclick=\"displayData('" + id + "')\"]")
      .classList.add("selected");
  }
</script>

<div class="container">
  <div class="buttons">
    <button class="program-button.selected" onclick="displayData('data1')">
      40 euros/mois
    </button>
    <button class="program-button" onclick="displayData('data2')">
      75 euros/mois
    </button>
    <button class="program-button" onclick="displayData('data3')">
      110 euros/mois
    </button>
  </div>

  <ul>
    <li>Bilan gratuit et sans engagement (Visio / téléphone /présentiel)</li>
    <li>
      Réception du programme avec consignes, conseils, images ou vidéos de
      chaque exercices et explications
    </li>
    <li>Ajustement et modification du programme chaque semaine</li>
    <li>Disponible 7j/7</li>
    <li id="data2" class="data" style="display: none">
      1 séance en présentiel chaque mois
    </li>
    <li id="data3" class="data" style="display: none">
      2 séances en présentiel chaque mois
    </li>
  </ul>
</div>
