<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  // Get all buttons
  const buttons = document.querySelectorAll(".program-button");

  $(document).ready(function () {
    $(".program-button").click(function () {
      // Remove selected class from all buttons
      $(".program-button").removeClass("selected");

      // Hide all data items
      $(".data-item").hide();

      // Add selected class to clicked button
      $(this).addClass("selected");

      // Show corresponding data item
      var target = $(this).data("target");
      $("#" + target).show();
    });
  });
</script>

<div class="container">
  <div class="buttons">
    <button class="program-button selected" data-target="data1">
      40 euros/mois
    </button>
    <button class="program-button" style="margin: 0 5em" data-target="data2">
      75 euros/mois
    </button>
    <button class="program-button" data-target="data3">110 euros/mois</button>
  </div>

  <ul style="line-height: 3;" id="data">
    <li>Bilan gratuit et sans engagement (Visio / téléphone /présentiel)</li>
    <li>
      Réception du programme avec consignes, conseils, images ou vidéos de
      chaque exercices et explications
    </li>
    <li>Ajustement et modification du programme chaque semaine</li>
    <li>Disponible 7j/7</li>
    <li id="data2" class="data-item" style="display: none">
      1 séance en présentiel chaque mois
    </li>
    <li id="data3" class="data-item" style="display: none">
      2 séances en présentiel chaque mois
    </li>
  </ul>
  <a href="#contact-scrollpoint">
    <button class="contact-button">Je réserve mon bilan</button>
  </a>
</div>
