form {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
  margin: 20px 0;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100% !important;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 1em;
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #4dbab4;
  width: 100% !important;
  color: #ddd;
  padding: 10px 20px;
  border: none;
  border-radius: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
