form {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  line-height: 1.1;
  margin: 20px 0;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 1em;
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #4dbab4;
  padding: 10px 20px;
  border: none;
  border-radius: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Google map */
.google-map {
  padding-bottom: 85%;
  position: relative;
  border: 2px solid #005f73;
  border-radius: 1em;
  overflow: hidden;
}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

/* Responsive layout */
.row {
  display: flex;
  justify-content: space-between;
}

/* Create two equal columns that floats next to each other */
.column {
  flex: 1;
  padding: 1em;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
