/* TABLE */
.planning-table {
  width: -webkit-fill-available;
  border-collapse: separate;
  border-spacing: 25px 0;

  tr:last-child td:not(:first-child) {
    border-bottom: 3px solid #4dbab4;
  }
  tr:nth-child(2) td:not(:first-child) {
    border-top: 3px solid #4dbab4;
    border-bottom: 2px dashed #4dbab4;
  }
  /* COLUMNS HEADINGS */
  th {
    color: #4dbab4;
  }
  /* COLUMNS */
  th:not(:first-child) {
    text-align: center;
  }
  /* ROWS HEADINGS */
  td:first-child {
    border: none;
    text-align: right;
    color: #005f73;
    width: min-content;
  }
  /* ROWS */
  td {
    border-left: 3px solid #4dbab4;
    border-right: 3px solid #4dbab4;
    height: 100px;
  }
  /* CELLS */
  div {
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    width: 80%;
    height: 70%;
    flex-direction: column;
    cursor: pointer;
  }
}
