.container {
  display: flex;
  flex-direction: column;
  text-align: center;

  .buttons {
    margin: 2em 0;
  }

  .program-button {
    width: 12em;
    color: #005f73;
    padding: 10px 20px;
    border: 2px solid #005f73;
    border-radius: 1em;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.5px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .program-button.middle {
    margin: 0;
  }

  .program-button.selected {
    width: 12em;
    background-color: #4dbab4;
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 1em;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.5px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .contact-button {
    margin-top: 2em;
    background-color: #4dbab4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 1em;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.5px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  ul {
    line-height: 3;
  }

  ul li {
    background-color: #EFEFEF;
    border-radius: 0 1em 1em 0;
  }

  ul li::marker {
    content: "✓";
    color: #4dbab4;
    background-color: #EFEFEF;
    border-radius: 1em 0 0 1em;
  }

  li:not(:last-child) {
    margin-bottom: 1em;
  }
}

/* Buttons for mobile */
@media (max-width: 600px) {
  .container {
    .buttons {
      margin: 0;
    }

    button {
      margin: 2em 0;
    }

    .program-button.middle {
      margin: 0;
    }

    ul {
      line-height: 2;
    }

    li:not(:last-child) {
      margin-bottom: 1em;
    }
  }
}
