.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #buttons {
    display: flex;
    justify-content: space-around;
  }

  .program-button {
    background-color: grey;
  }

  .program-button.selected {
    background-color: blue;
  }

  ul li::marker {
    content: '✓';
    color: #4dbab4;
  }
  .data {
    margin-top: 20px;
  }
}
